.grid-container {
  display: grid;
  position:relative;
  /*padding: 10px;*/
  /*grid-template-columns: repeat(3,auto);*/
}

.grid-item {
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  outline: 1px solid black;
  text-align: center;

}

.dummy {
	margin-bottom: 100%;
}

.element {
	position:absolute;
}
